<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="col-6">
      <h2 class="card-title font-weight-bold">{{ title }}</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info float-end"
        [routerLink]="['/master/region/province/add']"
      >
        <i class="fa fa-plus-circle"></i> Add
      </button>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-3">
        <form action="">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchQuery"
              placeholder="Search..."
            />
            <button class="btn btn-info" (click)="searchProvinsi()">
              Search
            </button>
          </div>
        </form>
      </div>
    </div> -->

  <div class="card-body maxHeight">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-center">
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let province of provinces
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: currentPage,
                    totalItems: totalItems
                  }
          "
        >
          <td class="col-7">{{ province.provName }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-info mr-2"
              (click)="updateProvince(province.provId)"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              style="margin-right: 5px"
              (click)="deleteProvince($event, province)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <pagination-controls
          class="card-footer clearfix d-flex justify-content-center"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
      <div class="form-inline">
        <label for="pageSizeSelect" class="mr-2">Page Size:</label>
        <select class="form-control" id="pageSizeSelect">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
  </div>
</div>
