<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Province</h1>
        </div>
        <!-- <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active">Setting</li>
                        </ol>
                      </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div class="col-10">
                <h3>Update Province</h3>
              </div>
            </div>

            <div class="card-body" style="max-height: 400px">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3 form-group">
                  <label for="provinceId" class="form-label">Province Id</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="province_id"
                    [disabled]="true"
                  />
                  <div
                    *ngIf="submitted && form.controls['province_id'].errors"
                    class="error"
                  >
                    <span
                      *ngIf="form.controls['province_id'].errors['required']"
                      class="text-danger"
                    >
                      Category ID is required
                    </span>
                  </div>
                </div>

                <div class="mb-3 form-group">
                  <label for="carBrandName" class="form-label"
                    >Category Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="province_name"
                    required
                  />
                  <div
                    *ngIf="submitted && form.controls['province_name'].errors"
                    class="error"
                  >
                    <span
                      *ngIf="form.controls['province_name'].errors['required']"
                      class="text-danger"
                    >
                      Category Name is required
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button
                  type="submit"
                  class="btn btn-warning ml-1"
                  [routerLink]="['/master/region/province']"
                >
                  <strong>Cancel</strong>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
