<div class="card">
    <div class="card-header">
        <h3 class="card-title">Vehicle Info</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Area Code</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control">
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Police Number</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Passenger Seat</label>
                        <select class="form-control">
                            <option>2</option>
                            <option>4</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Merek/Model/Seri</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>