<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="col-6">
      <h2 class="card-title font-weight-bold">{{ title }}</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info float-end"
        [routerLink]="['/master/region/city/add']"
      >
        <i class="fa fa-plus-circle"></i> Add
      </button>
    </div>
  </div>

  <div class="card-body maxHeight">
    <table class="table table-striped table-bordered table-hover">
      <thead class="text-center">
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let city of cities">
        <tr>
          <td class="col-7">{{ city.cityName }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info mr-2"
              (click)="updateCity(city.cityId)"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              style="margin-right: 5px"
              (click)="deleteCity($event, city)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
