<div class="modal fade show" style="padding-right: 15px; display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" *ngIf="isCreate ==true">
                <h4 class="modal-title">Create New Bank</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-header" *ngIf="isCreate ==false">
                <h4 class="modal-title">Edit Bank</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body" *ngIf="isCreate ==true">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Bank Name</label>
                        <input type="text" class="form-control" placeholder="Enter Bank Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Bank Desc</label>
                        <input type="text" class="form-control" placeholder="Enter Bank Desc">
                    </div>
                </div>
                <div class="card-body" *ngIf="isCreate ==false" >
                    <div class="form-group" >
                        <label for="exampleInputEmail1">Edit Bank Name</label>
                        <input [(ngModel)]="bank.bankName" type="text" class="form-control"
                            placeholder="Enter Bank Name">
                    </div>
                    <div class="form-group" >
                        <label for="exampleInputEmail1">Edit Bank Desc</label>
                        <input [(ngModel)]="bank.bankDesc" type="text" class="form-control"
                            placeholder="Enter Bank Desc">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onAddBankClick()">Save changes</button>
            </div>
        </div>
    </div>
</div>