<div class="card pb-5">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="col-6">
      <h2 class="card-title font-weight-bold">{{ title }}</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#carSeriesAddModal"
      >
        <i class="fa fa-plus-circle"></i> Add
      </button>
    </div>
  </div>

  <div class="card-body maxHeight" style="overflow-y: auto">
    <table class="table table-striped table-bordered table-hover">
      <thead class="text-center">
        <tr>
          <th>Car Series</th>
          <th>Seat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carSeries of carSeriess">
          <td>{{ carSeries.carsName }}</td>
          <td class="text-center">{{ carSeries.carsPassenger }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-info mr-2"
              (click)="updateCarSeries(carSeries.carsId)"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Edit"
            >
              <i class="far fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteCarSeries($event, carSeries.carsId)"
              data-toggle="modal"
              data-placement="bottom"
              data-target="#deleteModal"
              title="Delete"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" href="#">«</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
  </div> -->
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="carSeriesAddModal"
  tabindex="-1"
  aria-labelledby="carSeriesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carSeriesModalLabel">Add Car Series</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="mb-3 form-group">
            <label for="carModelName" class="form-label">Car Model</label>
            <br />
            <select
              class="form-select form-control"
              formControlName="carModel_id"
              aria-label="Car Model"
            >
              <option value="" selected>~ Select Car Model ~</option>
              <option
                *ngFor="let carModel of carModels"
                [value]="carModel.carmId"
              >
                {{ carModel.carmName }}
              </option>
            </select>
          </div>
          <div class="mb-3 form-group">
            <label for="carSeriesName" class="form-label"
              >Car Series Name</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="carSeries_name"
              id="carSeriesName"
            />
            <div
              *ngIf="submitted && form.controls['carSeries_name'].errors"
              class="error"
            >
              <span
                *ngIf="form.controls['carSeries_name'].errors['required']"
                class="text-danger"
              >
                Car Series Name is required
              </span>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label for="" class="form-label">Seat</label>
            <input
              type="text"
              class="form-control"
              formControlName="carSeries_seat"
            />
            <div
              *ngIf="submitted && form.controls['carSeries_seat'].errors"
              class="error"
            >
              <span
                *ngIf="form.controls['carSeries_seat'].errors['required']"
                class="text-danger"
              >
                Car Series Seat is required
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="closeAddModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
