<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Address</h3>
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="modal"
            [attr.data-target]="'#' + displayAddModal"
          >
            <i class="fa fa-plus"></i>
            Add
          </button>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table
          class="table table-hover text-nowrap"
          aria-describedby="table-addr"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>City</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of userAddresses; index as i">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ item.usdrAddress1 }}</td>
              <td>{{ item.usdrAddress2 }}</td>
              <td>{{ item.usdrCity?.cityName }}</td>
              <td>
                <button
                  class="btn btn-primary mr-2"
                  type="button"
                  data-toggle="modal"
                  [attr.data-target]="'#' + displayEditModal"
                  (click)="onPopModalEdit(item)"
                >
                  <i class="fa fa-edit"></i>
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#deletePhoneModal"
                  (click)="onConfirmDelete(item.usdrId)"
                >
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<app-edit-address-popup
  [display]="displayAddModal"
  (confirm)="onConfirmAdd($event)"
></app-edit-address-popup>
<app-edit-address-popup
  [userAddress]="selectedUserAddress"
  [display]="displayEditModal"
  (confirm)="onConfirmEdit($event)"
></app-edit-address-popup>
