<div class="card">
    <div class="card-header">
        <h3 class="card-title">Polis Information</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Polis Number</label>
                        <input type="text" class="form-control" placeholder="512-1760933" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Created On</label>
                        <input type="date" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" placeholder="NORMAL" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Total Premi</label>
                        <input type="text" class="form-control" placeholder="Rp 1.912.320" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>