<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Area Workgroup</h1>
        </div>
        <!-- <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active">Setting</li>
                        </ol>
                      </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div class="col-10">
                <h4>Area Workgroup</h4>
              </div>
            </div>

            <div class="card-body" style="max-height: 400px">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3 form-group">
                  <label for="cityName" class="form-label">City</label>
                  <br />
                  <select
                    class="form-select form-control"
                    formControlName="city_id"
                    aria-label="cityName"
                  >
                    <option
                      *ngFor="let city of cities; let i = index"
                      [value]="city.cityId"
                      [selected]="i == 0"
                    >
                      {{ city.cityName }}
                    </option>
                  </select>
                </div>
                <div class="mb-3 form-group">
                  <label for="regionPlatName" class="form-label">
                    Area Workgroup Name
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="areaWorkgroup_code"
                    id="regionPlatName"
                  />
                  <div
                    *ngIf="
                      submitted && form.controls['areaWorkgroup_code'].errors
                    "
                    class="error"
                  >
                    <span
                      *ngIf="
                        form.controls['areaWorkgroup_code'].errors['required']
                      "
                      class="text-danger"
                    >
                      Area Workgroup Code is required
                    </span>
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="regionPlatDesc" class="form-label">
                    Area Workgroup Description
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="areaWorkgroup_desc"
                    id="regionPlatDesc"
                  />
                  <div
                    *ngIf="
                      submitted && form.controls['areaWorkgroup_desc'].errors
                    "
                    class="error"
                  >
                    <span
                      *ngIf="
                        form.controls['areaWorkgroup_desc'].errors['required']
                      "
                      class="text-danger"
                    >
                      Area Workgroup Desc is required
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button
                  type="submit"
                  class="btn btn-warning ml-1"
                  [routerLink]="['/master/region']"
                >
                  <strong>Cancel</strong>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
