<div class="modal fade" #createNewPolisModal id="createNewPolisModal" tabindex="-1" role="dialog"
    aria-labelledby="createNewPolisModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Polis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="newPolisForm" (ngSubmit)="createNewPolis()">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Customer Info</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input type="text" class="form-control" name="customerName"
                                            placeholder="Masukkan nama.." formControlName="customerName">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Create Polis Date</label>
                                        <input type="date" class="form-control" name="createPolisDate"
                                            formControlName="createPolisDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="tel" class="form-control" placeholder="Masukkan No Telepon ..."
                                            name="customerPhoneNumber" formControlName="customerPhoneNumber">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Insurance Plan</label>
                                        <select class="form-control" name="insurancePlan"
                                            formControlName="insurancePlan">
                                            <option value="Total Loss Only">Total Loss Only</option>
                                            <option value="Comprehensive">Comprehensive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control" name="paidType" formControlName="cityId">
                                            <option value=1>Bandung</option>
                                            <option value=2>Bogor</option>
                                            <option value=3>Cianjur</option>
                                            <option value=4>Cirebon</option>
                                            <option value=5>Bekasi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Vehicle Info</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Area Code</label>
                                        <input type="text" class="form-control" placeholder="Masukkan Area Code ..."
                                            name="areaCode" formControlName="areaCode">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Year</label>
                                        <input type="text" class="form-control" name="year" formControlName="carYear">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Police Number</label>
                                        <input type="text" class="form-control" placeholder="Masukkan No Kendaraan ..."
                                            name="policeNumber" formControlName="policeNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Merek/Model/Seri</label>
                                        <select class="form-control" name="carSeries" formControlName="carSeries">
                                            <option value=1>HRV</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Period Polis</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" class="form-control" name="polisStartDate"
                                            formControlName="polisStartDate">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Paid Type</label>
                                        <select class="form-control" name="paidType" formControlName="paidType">
                                            <option value="CASH">CASH</option>
                                            <option value="CREDIT">CREDIT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Current Price</label>
                                        <input type="text" class="form-control" name="currentPrice"
                                            formControlName="currentPrice">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Insurance Price</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Total Premi</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="grantUser"
                                        name="grantUser">
                                    <label class="form-check-label" for="grantUser">Grant user access?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="submit" class="btn btn-primary">Create Service Polis</button>
                </div>
            </form>
        </div>
    </div>
</div>