<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Account Numbers</h3>
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="modal"
            [attr.data-target]="'#' + displayAddModal"
          >
            <i class="fa fa-plus"></i>
            Add
          </button>
        </div>
      </div>

      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" aria-describedby="">
          <thead>
            <tr>
              <th>No</th>
              <th>Account Number</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of userAccounts; index as i">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ item.usacAccountno }}</td>
              <td>
                {{
                  item.usacBankEntityid
                    ? item.usacBankEntity?.bankName
                    : item.usacFintEntity?.fintName
                }}
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#deletePhoneModal"
                  (click)="onConfirmDelete(item.usacId)"
                >
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr>
            <!-- <tr>
              <td>2</td>
              <td>08123 576 798</td>
              <td>GOTO</td>
              <td>
                <button
                  class="btn btn-primary mr-2"
                  type="button"
                  data-toggle="modal"
                  data-target="#editAccountNumberModal"
                >
                  <i class="fa fa-edit"></i>
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#deleteAccountNumberModal"
                >
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<app-edit-account-number-popup
  [display]="displayAddModal"
  (confirm)="onConfirmAdd($event)"
></app-edit-account-number-popup>
